<h2 class="mb-4">Gestion des Établissements</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Ajouter un Établissement</h3>
            <app-etablissement-form></app-etablissement-form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Liste des Établissements</h3>
            <app-etablissement-list></app-etablissement-list>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/" class="btn btn-secondary">Retour à l'accueil</a>